#root{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0px;
}
.App {
  /* font-family: sans-serif; */
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

nav {
  background-color: #242526;
}
.nav-fix {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}
.back-img {
  /* background-image: url("https://wallpaperbat.com/img/33495-all-anime-wallpaper-top-free-all-anime-background.jpg"); */
  /* background-image: url("https://i.ibb.co/qmLczP0/673558.jpg"); */
  background-image: url("./images/back.png");

  opacity: 0.75;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.navlink-div {
  position: relative;
  left: 56px;
}

.header-link {
  text-decoration: none;
  color: white;
  display: inline;
  text-align: center;
  padding: 10px;
  font-weight: 100;
}
.header-link:hover {
  color: #d6d6d6;
}

.register {
  color: white;
}
.register:hover {
  color: #d6d6d6;
}

#grid {
  margin: auto;
  margin-top: 2%;
}

.footer {
  position: relative;
  /* left: 0; */
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: #242526;
  padding: 4%;
  text-align: center;
}

.footer p {
  color: #d6d6d6;
}
.footer-link {
  /* font-family: montserrat; */
  color: white;
  text-decoration: none;
  margin: 34px;
  display: inline;
}
.footer-link:hover {
  color: #d6d6d6;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.center {
  margin: auto;
}

.link {
  margin-bottom: 10px;
  padding-bottom: 0px;
  position: relative;
  top: -25px;
  left: auto;
  right: auto;
}
.copy {
  margin-bottom: 100px;
  position: relative;
  bottom: 19px;
}

.logo {
  position: relative;
  top: -2px;
  left: 15px;
  width: 80px;
  height: auto;
}

/* .logo {
  color: white;
  padding-left: 0.5%;
  margin-bottom: 0.5%;
  font-size: 200%;
} */

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(1.05);
}

.search {
  background-color: #454951;
  border-radius: 50px;
  border-color: #454951;
  height: 30px;
  width: 134px;
  position: relative;
  top: 5px;
  font-size: 0.9rem;
  /* transform: translate3d(0, -2px, 0); */
}

/* ::placeholder {
  font-size: 1rem;
} */
::-webkit-input-placeholder {
  font-size: 0.9rem;
  transform: translate3d(0, 0px, 0);
}

/* input {
  height: 30px;
  width: 134px;
} */

input[type="search"]:focus {
  color: white; /* oranges! yey */
  background-color: #454951;
  border: none;
  /* border-color: #242526; */
  /* border-color: rgba(255, 255, 255, 0.8); */
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(255, 255, 255, 0.6);
  outline: 0 none;

  /* font-size: 1rem; */
}

.form-control::placeholder {
  color: white;
}

/* -----------break-------------- */

section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(#da22ff, #9733ee); */
  clip-path: circle(30% at right 70%);
}

section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(#e55d87, #5fc3e4); */
  clip-path: circle(20% at 10% 10%);
}

.container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 0;
}

.container .card {
  position: relative;
  width: 300px;
  height: 400px;
  background: rgba(255, 255, 255, 0);
  /* background: red; */
  margin: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}

.container .card .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
}

.container .card:hover .content {
  transform: translateY(-20px);
}

.container .card .content .imgBx {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.container .card .content .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .card .content .contentBx h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 10px;
  line-height: 1.1em;
}

.container .card .content .contentBx h3 span {
  font-size: 12px;
  font-weight: 300;
  text-transform: initial;
}

.container .card .sci {
  position: absolute;
  bottom: 50px;
  display: flex;
}

.container .card .sci li {
  list-style: none;
  margin: 0 10px;
  transform: translateY(40px);
  transition: 0.5s;
  opacity: 0;
}

.container .card:hover .sci li {
  transform: translateY(0px);
  opacity: 1;
}

.container .card .sci li p {
  color: #fff;
  font-size: 20px;
}

/* Break */

.searchbar {
  /*margin-bottom: auto;*/
  /*margin-top: auto;*/
  height: 35px;
  width: auto;
  background-color: #353b48;
  border-radius: 30px;
  /*padding: 10px;*/
}
.h-100 {
  margin: 0;
}
.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_input {
  padding: 0 10px;
  width: 134px;
  caret-color: red;
  transition: width 0.4s linear;
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  text-decoration: none;
}

/* Break- Contact */

/* .contact-form {
  display: ;
} */

.contact-form{
  position: relative;
  display: block;
  width: 90%;
  height: 83.8vh;
  padding-top: 100px;
  top: 30%;
  left: 10%;
}

.contact-form input,.contact-form textarea{
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  backdrop-filter: blur(10px);
}

.contact-form input:focus, .contact-form textarea:focus{
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}


.form-floating label{
  color: white;
}

.thanks-div{
  height: 84vh;
}

.thanks-div h1{
  padding-top: 200px;
}

.explore-div h1{
  padding: 100px 100px 17px 200px;
  /* padding-left: 200px; */
  font-size: 2rem;
  font-weight: 400;
}

.flex-grid{
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;
  width: 60%;
}

.flex-grid .flex-div{
  height: 250px;
  margin: 2px;
  flex: 1 1 auto;
}

.flex-grid img{
  height: inherit;
  
  
}

.flex-grid a{
  height: inherit;
}

h6{
  font-weight: bold;
}

.hello{
  height: inherit;
  background: red;
}

.margin-left{
  /* padding-left: 200px; */
  margin-left: 200px;
  
}

.explore-grid{
  margin-top: 25px;
  padding-bottom: 20px;
}
.explore-grid h6{
  font-weight: 400;
}

.nav-fix input{
  font-weight: 100;
}

.card-btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  border-color: #3498db;
  font-family: Arial;
  color: #ffffff;
  font-size: 17px;
  padding: 0px 4px 0px 4px;
  text-decoration: none;
  position: relative;
  right: 27px;
  bottom: 102px;
  display: none;
}

.card-btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  /* display: none; */
}

.card-btn-div{
  position: relative;
  left: 175px;
  bottom: 144px;
}
.grid-card:hover .card-btn{
  display: inline;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}